In [79]:
import pandas as pd
import numpy as np

In [80]:
clien=pd.read_csv('./clien.csv')

In [83]:
clien.head()

,추천수,게시판,제목,리플수,아이디,조회수,날짜,문서번호,사진유무
0,0,모공,요즘 신천지 찌라시 근황,0,미나미모리마치,380,2019-12-28 16:31:51,14437898,Y
1,0,모공,조선판 위쳐가 나오면 무슨 느낌일까요?,4,CODE,149,2019-12-28 16:30:48,14437895,Y
2,0,모공,김용민 트윗 근황.jpg,0,umberto_eco,831,2019-12-28 16:30:07,14437894,Y
3,0,모공,올해 극장에서 재밌게 본 영화들.jpg,6,아하라라,450,2019-12-28 16:28:52,14437890,Y
4,10,모공,남친을 오너일가로 장가보낸썰 풉니다,0,곰삭은푸,1231,2019-12-28 16:27:11,14437889,Y

In [84]:
clien.info()
clien.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135679 entries, 0 to 135678
Data columns (total 9 columns):
추천수     135679 non-null int64
게시판     135679 non-null object
제목      135679 non-null object
리플수     135679 non-null int64
아이디     135679 non-null object
조회수     135679 non-null object
날짜      135679 non-null object
문서번호    135679 non-null int64
사진유무    135679 non-null object
dtypes: int64(3), object(6)
memory usage: 9.3+ MB

(135679, 9)

In [85]:
# 조회수가 1000이상이면 1k식으로 저장이 되기때문에 조회수 컬럼이 object 타입으로 나옴

In [86]:
# Change date to datetype
clien['날짜']=pd.to_datetime(clien['날짜'])

In [87]:
# 조회수 . k 단위 int로 변경
clien['조회수int'] =""
for i in range(len(clien['조회수'])):
    if "k" in str(clien['조회수'][i]):
        a = str(clien['조회수'][i])
        b = a.replace("k","0000").replace(" ","")
        c = round(float(b)*1000)
        clien['조회수int'][i] = int(c)
    else:
        clien['조회수int'][i]= int(clien['조회수'][i])

C:\Users\sm208\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\sm208\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [88]:
#int변경
clien['조회수int'] = clien['조회수int'].astype(int)
# clien['조회수int'] = pd.to_numeric(clien.조회수int, errors = 'coerce')

In [89]:
# null값 없음
clien['조회수int'].isnull().sum()

0

In [90]:
# 1보다 작은거 없음
clien[clien['조회수int']<1]

Empty DataFrame
Columns: [추천수, 게시판, 제목, 리플수, 아이디, 조회수, 날짜, 문서번호, 사진유무, 조회수int]
Index: []

In [91]:
# clien Feature 구성
clien['date'] = clien['날짜'].dt.date
clien['year'] = clien['날짜'].dt.year
clien['month'] = clien['날짜'].dt.month
clien['day'] = clien['날짜'].dt.day
clien['hour'] = clien['날짜'].dt.hour
clien['minute'] = clien['날짜'].dt.minute
clien['second'] = clien['날짜'].dt.second
clien['dayofweek'] = clien['날짜'].dt.dayofweek

In [92]:
# check basic info and size
clien.info()
clien.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135679 entries, 0 to 135678
Data columns (total 18 columns):
추천수          135679 non-null int64
게시판          135679 non-null object
제목           135679 non-null object
리플수          135679 non-null int64
아이디          135679 non-null object
조회수          135679 non-null object
날짜           135679 non-null datetime64[ns]
문서번호         135679 non-null int64
사진유무         135679 non-null object
조회수int       135679 non-null int32
date         135679 non-null object
year         135679 non-null int64
month        135679 non-null int64
day          135679 non-null int64
hour         135679 non-null int64
minute       135679 non-null int64
second       135679 non-null int64
dayofweek    135679 non-null int64
dtypes: datetime64[ns](1), int32(1), int64(10), object(6)
memory usage: 18.1+ MB

(135679, 18)

In [93]:
holiday = pd.read_excel('./holiday.xlsx')

In [94]:
holiday.head()

   순서     년  월   일   설명
0   1  2018  1   1   새해
1   2  2018  2  15   설날
2   3  2018  2  16   설날
3   4  2018  2  17   설날
4   5  2018  3   1  삼일절

In [95]:
holiday['일']=holiday['일'].astype(str)
holiday['월']=holiday['월'].astype(str)
holiday['년']=holiday['년'].astype(str)

In [96]:
holiday['날짜'] = holiday['년']+"-"+holiday['월']+"-"+holiday['일']

In [97]:
holiday['date']=pd.to_datetime(holiday['날짜'])

In [98]:
holiday.head()
holiday = holiday[['설명','date']]

In [99]:
holiday.to_csv('./holiday.csv', index =False)

In [100]:
holiday

       설명       date
0      새해 2018-01-01
1      설날 2018-02-15
2      설날 2018-02-16
3      설날 2018-02-17
4     삼일절 2018-03-01
..    ...        ...
61     추석 2021-10-21
62     추석 2021-10-22
63    개천절 2021-10-03
64    한글날 2021-10-09
65  크리스마스 2021-12-25

[66 rows x 2 columns]

In [101]:
clien.head()

,추천수,게시판,제목,리플수,아이디,조회수,날짜,문서번호,사진유무,조회수int,date,year,month,day,hour,minute,second,dayofweek
0,0,모공,요즘 신천지 찌라시 근황,0,미나미모리마치,380,2019-12-28 16:31:51,14437898,Y,380,2019-12-28,2019,12,28,16,31,51,5
1,0,모공,조선판 위쳐가 나오면 무슨 느낌일까요?,4,CODE,149,2019-12-28 16:30:48,14437895,Y,149,2019-12-28,2019,12,28,16,30,48,5
2,0,모공,김용민 트윗 근황.jpg,0,umberto_eco,831,2019-12-28 16:30:07,14437894,Y,831,2019-12-28,2019,12,28,16,30,7,5
3,0,모공,올해 극장에서 재밌게 본 영화들.jpg,6,아하라라,450,2019-12-28 16:28:52,14437890,Y,450,2019-12-28,2019,12,28,16,28,52,5
4,10,모공,남친을 오너일가로 장가보낸썰 풉니다,0,곰삭은푸,1231,2019-12-28 16:27:11,14437889,Y,1231,2019-12-28,2019,12,28,16,27,11,5

In [102]:
clien['date'] = clien['date'].astype(str)
holiday['date']= holiday['date'].astype(str)

In [103]:
clien = pd.merge(clien,holiday,how ='left',on ='date')

In [104]:
clien['holiday'] = 0
clien.loc[(clien['dayofweek'] == 5) | (clien['dayofweek'] == 6)|(clien['설명'].notnull()),'holiday']=1

## loc가 중요

In [105]:
# 전처리 끗

In [106]:
clien.to_csv('./clien.csv',index = False)

,추천수,게시판,제목,리플수,아이디,조회수,날짜,문서번호,사진유무
0,0,모공,요즘 신천지 찌라시 근황,0,미나미모리마치,380,2019-12-28 16:31:51,14437898,Y
1,0,모공,조선판 위쳐가 나오면 무슨 느낌일까요?,4,CODE,149,2019-12-28 16:30:48,14437895,Y
2,0,모공,김용민 트윗 근황.jpg,0,umberto_eco,831,2019-12-28 16:30:07,14437894,Y
3,0,모공,올해 극장에서 재밌게 본 영화들.jpg,6,아하라라,450,2019-12-28 16:28:52,14437890,Y
4,10,모공,남친을 오너일가로 장가보낸썰 풉니다,0,곰삭은푸,1231,2019-12-28 16:27:11,14437889,Y
...,...,...,...,...,...,...,...,...,...
53813,1,모공,[MUSIC] Asoto Union - Think about'Chu,6,강력한별명,223,2019-12-04 00:06:55,14356183,Y
53814,46,모공,마봉춘 응원 합니다,0,횟칼을잡은남자,1154,2019-12-04 00:06:41,14356180,Y
53815,22,모공,오늘 pd수첩은 학교 수업시간에 틀어줘야 할 정도네요.,10,lightfeel,1693,2019-12-04 00:06:37,14356179,Y
53816,1,모공,i mac 2011 CTO 써멀 재도포.jpg,0,진단,1888,2019-12-04 00:06:11,14356178,Y
53817,101,모공,pd 수첩 끝나자마자......,1,perisher,8884,2019-12-04 00:05:29,14356177,Y